    .toolbar {
        box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
    }

    .toolbar h1 {
        padding-left: 5px;
    }

    .docs-primary-header {
        background: #3f51b5;
        display: block;
    }

    .example-container {
        height: 400px;
        overflow: auto;
    }

    table {
        width: 100%;
    }
